<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jobsdev">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_jobsdev_purple_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_jobsdev_purple_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".maincontent.webview.GitHubWebViewActivity"></activity>
        <activity android:name=".register.OnBoardRegisterActivity" />
        <activity android:name=".onboard.OnBoardRegLogActivity" />
        <activity android:name=".maincontent.MainContentActivity" />
        <activity android:name=".chat.ChatActivity" />
        <activity android:name=".search.SearchActivity" />
        <activity android:name=".profile.ProfileAccountEngineerActivity" />
        <activity android:name=".profile.ProfileCompanyActivity" />
        <activity android:name=".home_app.HomeCompanyActivity" />
        <activity android:name=".profile.ProfileEngineerActivity" />
        <activity android:name=".home_app.HomeEngineerActivity" />
        <activity android:name=".reset_password.ResetPasswordInputNewPasswordActivity" />
        <activity android:name=".reset_password.ResetPasswordSendEmailActivity" />
        <activity android:name=".LoginCompanyActivity" />
        <activity android:name=".register.RegisterCompanyActivity" />
        <activity android:name=".register.RegisterEngineerActivity" />
        <activity android:name=".onboard.OnBoardActivity" />
        <activity android:name=".LoginEngineerActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>